.footer-global {
    position: fixed;
    bottom: 10px;
    left: 60px;
    font-size: 14px;
    color: #666;
}

.icon-link {
    position: relative;
    /* oder absolute/fixed, je nach Layout */
    z-index: 100000;
    /* Ein hoher Wert, um das Icon nach vorne zu bringen */
}

/* Grundformatierung, damit die Leerzeichen erhalten bleiben */
.hoverable {
    display: inline-block;
    white-space: pre;
    /* Verhindert das Zusammenfassen von Leerzeichen */
}

/* Beim Hover über den Link */
.topic-link:hover .hoverable::after {
    color: #f92672;
    content: " <<";
    /* Fügt das ">>" hinzu */
}

.exam-box {
    display: block;
    border: 5px solid #AA3A39;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #dcb9b8;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    color: #000;
    position: relative;
    font-size: large;
    font-weight: bold;
    width: 90%;
}

.info-box {
    display: block;
    border: 5px solid #3d9f9f;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #c0fafa;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    color: #000;
    position: relative;
    font-size: large;
    width: 90%;
}

.interactive-box {
    display: block;
    border: 5px solid #dcca05;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fef69c;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    color: #000;
    position: relative;
    font-size: large;
    width: 90%;
}

.container {
    display: flex;
    align-items: flex-start;
    /* Elemente oben ausrichten */
}

.container img {
    width: 50%;
    /* Breite des Bildes auf 50% setzen */
    margin-left: 20px;
    /* Abstand zwischen Box und Bild */
}

@media print {
    .slide-background {
        background-color: white !important;
        -webkit-print-color-adjust: exact;
    }
}


.box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
}

.blue {
    background-color: rgb(0, 166, 255);
}

.red {
    background-color: rgb(214, 90, 68);
}

.green {
    background-color: rgb(0, 184, 52);
}

.yellow {
    background-color: rgb(255, 221, 0);
}

.purple {
    background-color: rgb(200, 37, 245);
}

.gray {
    background-color: rgb(128, 128, 128);
}

.styled-point {
    font-size: x-large;
    position: relative;
    margin-left: 25px;
    /* Platz für das Icon */
}

.styled-point::before {
    content: "\f0c8";
    /* Unicode für das Font Awesome square */
    font-family: "Font Awesome 5 Free";
    /* Font Awesome verwenden */
    font-weight: 900;
    /* für solid icons */
    color: burlywood;
    position: absolute;
    font-size: medium;
    left: -20px;
    /* Icon links vom Text platzieren */
    top: 0.75ex
}

.styled-point2 {
    font-size: x-large;
    position: relative;
    margin-left: 25px;
    /* Platz für das Icon */
}

.styled-point2::before {
    content: "\f101";
    /* Unicode für das Font Awesome angles-right */
    font-family: "Font Awesome 5 Free";
    /* Font Awesome verwenden */
    font-weight: 900;
    /* für solid icons */
    color: rgb(219, 93, 43);
    position: absolute;
    font-size: medium;
    left: -20px;
    /* Icon links vom Text platzieren */
    top: 0.75ex
}

.styled-point3 {
    font-size: x-large;
    position: relative;
    margin-left: 25px;
    /* Platz für das Icon */
}

.styled-point3::before {
    content: "\f128"; /* Unicode für das Font Awesome question symbol */
    /* Unicode für das Font Awesome angles-right */
    font-family: "Font Awesome 5 Free";
    /* Font Awesome verwenden */
    font-weight: 900;
    /* für solid icons */
    color: rgb(12, 236, 94);
    position: absolute;
    font-size: medium;
    left: -20px;
    /* Icon links vom Text platzieren */
    top: 0.75ex
}

.image-box {
    display: block;
    border: 5px solid #d4d4d4;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #ededed;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    color: #000;
    position: relative;
    font-size: large;
    width: 90%;
}

.styled-noPoint {
    font-size: x-large;
    position: relative;
    margin-left: 25px;
    /* Platz für das Icon */
}

.styled-noPoint .katex .mord,
.styled-noPoint .katex .mop {
    color: #b8103b;
    /* Deine gewünschte Farbe für LaTeX-Elemente */
}


.styled-point2 .katex .mord,
.styled-point2 .katex .mop {
    color: #b8103b;
    /* Deine gewünschte Farbe für LaTeX-Elemente */
}

.styled-point .katex .mord,
.styled-point .katex .mop {
    color: #b8103b;
    /* Deine gewünschte Farbe für LaTeX-Elemente */
}


/* Stil für Tabs */
.tab {
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid #c5c3c3;
    margin-right: 10px;
    font-size: medium;
    height: 20px;
}

.tab.active {
    background-color: #8bccf8;
    border: 1px solid #59b2ee;
}

/* Stil für die Inhalte der Tabs */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.leftBox {
    display: inline-block;
    width: 40%;
    text-align: left;
    vertical-align: middle;
}

.spacer {
    display: inline-block;
    width: 5%;
    text-align: left;
    vertical-align: middle;
}

.rightBox {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: middle;
}

.reveal {
    background-image: url('../resources/bg.png');
    background-size: 906px 117px;
    background-position: top;
    background-position-y: -50px; /* Adjust the value as needed for the vertical offset */
    background-repeat: no-repeat;
}

#clock {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 2.5em;
    font-family: 'Noto Sans', Source Sans Pro, Helvetica, sans-serif;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}